@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i');


/*general styles*/

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a{
	transition: .2s ease-in-out all;
}

body{
	background: url(/wp-content/themes/roots/assets/img/family-background.jpg) 50% 50% / cover;
	font-size: 16px;
}

body *{
	font-family: 'Roboto', sans-serif;
}

.btn-primary, input{
	background-color: #f78f1e;
	font-size: 1.3em;
	font-weight: 700;
	font-style: italic;
	border: none;
	padding: .5em 2.5em;
}

input{
	color: white;
}

.btn-default{
	font-size: 1.3em;
	font-weight: 700;
	font-style: italic;
	border: none;
	padding: .5em 2.5em;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, input:hover{
	background-color: #e2790d !important;
} 

.orange{
	color: #f78f1e;
}

/*nav-bar*/

.navbar-default{
	background-color: transparent;
	border-bottom: none;
}

.logo{
	background: url(/wp-content/themes/roots/assets/img/logo.png) 50% 50% / cover;
	width: 220px;
	height: 60px;
	font-size: 0;
}

.nav-tabs{
	display: none;
}


/* top-header */

.header-wrap{
	text-align: center;
	color: white;
}

.header-wrap .top-header h1{
  	font-weight: 700;
	font-size: 2.5em;
}

.header-wrap .top-header{
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.header-wrap .bottom-header h2{
	font-size: 2em;
	font-weight: 700;
	font-style: italic;
}

.header-wrap .bottom-header h3{
	font-weight: 300;
	font-size: 1.2em;
	letter-spacing: .3em;
	margin-top: 0;
	margin-bottom: 2em;
}

/* form */

#solarForm{
	background-color: rgba(255, 255, 255, .8);
	padding: 1em 3em;
}

h4{
	font-size: 1.5em;
	font-weight: 700;
}

/* kilowatts */

.kilowatts{
	background-color: white;
	display: inline-block;
	text-align: center;
	padding: 1em 2em;
	margin-bottom: 1em;
}

.kilowatts img{
	margin: auto;
	margin-bottom: 1em;
}

.kw-container .included{
	display: inline-block;
	vertical-align: top;
	margin-left: 2em;
}

.kw-container .included h4{
	margin-top: 0;
}

.kilowatt{
	font-size: 2.5em;
	font-weight: 700;
}


/* payments */


.net-cost, .final-price{
	font-size: 1.5em;
	font-weight: 700;
	color: #f78f1e;
}

.monthly-payment, .tax-credit{
	font-size: 1.3em;
	font-weight: 700;
}

.prices{
	background-color: white;
	padding: 1em 2em;
	overflow: auto;
	margin-bottom: 1em;
}

/* footer */
.footer-bottom{
	color: white;
	font-size: .8em;
	font-weight: 100;
	margin-bottom: 1em;
}

.footer-bottom a:link, .footer-bottom a:visited{
	color: white;
	text-decoration: none;
}

.footer-bottom a:hover, .footer-bottom a:active{
	color: #f78f1e;
}

